{%  extends 'accounts/main_professor_page.html' %}
{% load static %}
{% block content %}

<div class="col-md-7">
		<h5>Suas Aulas</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_class' %}">Crie uma aula</a>
			<table class="table table-sm">
				<tr>
					<th>Aula</th>
					<th>Data de Início</th>
					<th>Data de Fim</th>
					<th>Atualize</th>
					<th>Remova</th>
				</tr>

				{% for class in classes %}
					<tr>
						<td>{{class.class_name}}</td>
						<td>{{class.start_date}}</td>
						<td>{{class.end_date}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'update_class' class.id %}">Update</a></td>

						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_class' class.id %}">Delete</a></td>

					</tr>
				{% endfor %}


			</table>
		</div>
	</div>


{% endblock %}